{% load staticfiles %}
{% load get_thumbnail %}

{% for instance in product_list %}
<div class="col-sm-{% firstof size '3' %} product">
  <div class="thumbnail thumbnail-small">
    <img src="{{ instance|get_thumbnail:"sd" }}" alt="">
    <div class="caption">
      <h4 class="product-price pull-right">${{ instance.get_price }}</h4>
      <h4 class="product-title">
        <a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a>
      </h4>
      <p class="product-seller">by {{ instance.get_seller_username }}</p>
      <p>{{ instance.description }}</p>
    </div>
  </div>
</div>
{% empty %}
<div class="col-sm-12">
  No products yet. Be the first one to add.
  <br>
</div>
{% endfor %}

